@import url("https://googleapis.com");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* color palette */
  /* primary */
  --color-primary-10: #6D5A52;   /* untuk font-label */
  --color-primary-50: #fbf9f5;   /* untuk background layout */
  --color-primary-100: #f5f3ef;  /* untuk background layout */
  --color-primary-150: #553722;  /* untuk font-headline */
  --color-primary-200: #F5F3EF;  /* DIUBAH KE 200 AGAR TIDAK DUPLIKAT (untuk container kecil) */

  /* font family */
  --font-headline: "Playfair Display", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}